.tab_about-content {}

.tab_about-content #mySidenav a {
    position: absolute;
    left: -80px;
    transition: 0.3s;
    padding: 15px;
    width: 100px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 0 5px 5px 0;
}

.tab_about-content #mySidenav a:hover {
    left: 0;
}

.tab_about-content #about {
    top: 120px;
    background-color: #04AA6D;
}

.tab_about-content #blog {
    top: 180px;
    background-color: #2196F3;
}

.tab_about-content #projects {
    top: 240px;
    background-color: #f44336;
}

.tab_about-content #contact {
    top: 300px;
    background-color: #555
}