* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wrap-note {
    width: 90%;
    margin: 0 auto;
    background-color: gainsboro;
    min-height: 200px;
    display: grid;
    grid-gap: 10px;
}

.note-todo {
    background-color: azure;
    grid-column-start: 7;
    grid-column-end: 11;
    grid-row-start: 1;
    grid-row-end: 6;
}

.note-doing {
    background-color: beige;
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 6;
    grid-row-end: 11;
}

.note-done {
    background-color: darkgrey;
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 11;
}